<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Style.css' %}?{% now 'U' %}">
    <style>
        html
         {
            background: url("{% static 'bluelines.jpg' %}") no-repeat center center fixed;
            background-size: cover;
         }

    </style>
</head>
<body>
<div id="main"></div>
{% for item in mydata_json %}
<div class="card">
    <form>
        <table>
            <tr>
                <td>name</td>
                <td>:</td>
                <td>{{item.name}}</td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td>message</td>
                <td>:</td>
                <td>{{item.message}}</td>
            </tr>
        </table>
    </form>
</div>
{% endfor %}
</body>
</html>